
        .First{
            color: orange;
        }
        .Final{
        color: white;
        background-image: url(https://cdn131.picsart.com/331723584023201.jpg?to=crop&type=webp&r=1456x970&q=85);
       
        }
    